<aside id="toc" ui-view="navbar"></aside>

<div class="col-xs-offset-1 col-md-11" ng-controller="StepViewCtrl">
    <br>
    <button class="btn btn-default" type="button" ng-click="debug = !debug">debug</button>
    <pre ng-show="debug" >{{ protocol | json }}</pre>

    <section id="page">
        <h1 class="groupTitle">{{ protocol.processGroupTitle}}</h1>

        <ul >
            <li class="step" ng-repeat="step in steps">
                <h1>{{$index +1 }} - {{step.title}}</h1>
                <dl>
                    <dt>Context:</dt>
                    <dd>{{step.context}}</dd>

                    <dt ng-hide="step.highlights == '' ">Highlight :</dt>
                    <dd>{{step.highlights}}</dd>

                    <!-- Mixing components  -->
                    <dl class="mixing" ng-show="{{step.type == 'mixing'}}">
                        <h1>Solution Preperation</h1>

                        <section class="solution" ng-repeat="solutions in step.mixing">
                            <h1>Solution title : {{solutions.title}}</h1>
                            <ul>
                                <li ng-repeat="component in solutions.solution ">
                                    <p>
                                        <span ng-hide="{{$first}}">+</span>{{component.volume}}{{component.unit}} {{component.name}}
                                        <span ng-hide="{{component.concentration == ''}}">
                                            [{{component.concentration }} {{component.concentrationUnit}}]
                                        </span>
                                    </p>
                                    <dl class="consideration" ng-hide="{{component.consideration == ''}}">
                                        <dt>Attention</dt>
                                        <dd>{{component.consideration}}</dd>
                                    </dl>
                                </li>
                            </ul>
                        </section>
                    </dl>

                    <dt ng-hide="{{step.critical == ''}}">Critical</dt>
                    <dd ng-hide="{{step.critical == ''}}">{{step.critical}}</dd>

                    <!-- Reactions metadata -->
                    <dl class="reaction" ng-show="{{step.type == 'reaction'}}">
                        <dt>Reaction Conditions</dt>
                        <dd>{{step.reaction.time}} {{step.reaction.unit}} @ {{step.reaction.temperature}} °C</dd>
                    </dl>
                </dl>
            </li>
        </ul>
    </section>

</div>
