<aside id="toc" ui-view="navbar"></aside>

<section id="viewStep" ng-controller="StepidCtrl" ng-style="style()" resize>
    <article class="step" >
        <section class="content">
            <section class="process">
                <section class="process-description">
                    <!--<span class="process-number">{{currentId }}</span>-->
                    <h1>{{step.title}}</h1>
                    <section>
                        <h3>Context:</h3>
                        <p>{{step.context}}</p>
                    </section>

                    <section class="highlights" ng-hide="{{step.highlights == ''}}" >
                        <h3 ng-hide="step.highlights == '' ">Highlight :</h3>
                        <p>{{step.highlights}}</p>
                    </section>

                    <section class="critical" ng-hide="{{step.critical == ''}}" >
                        <h3>Critical</h3>
                        <p>{{step.critical}}</p>
                    </section>

                    <!-- Reactions metadata -->
                    <section class="reaction" ng-show="{{step.type == 'reaction'}}">
                        <h3>Reaction Conditions</h3>
                        <p>{{step.reaction.time}} {{step.reaction.unit}} @ {{step.reaction.temperature}} °C</p>
                    </section>
                </section>
                <section class="process-images">
                    <section class="inner">
                        <img src="modules/method/stepId/images/dummy.jpg" />
                    </section>
                </section>
            </section>

            <!-- Mixing components  -->
            <section class="mixing" ng-show="{{step.type == 'mixing'}}">
                <h1>Solution Preperation</h1>

                <section class="solution" ng-repeat="solutions in step.mixing">
                    <h2>Solution title : {{solutions.title}}</h2>
                    <ul>
                        <li ng-repeat="component in solutions.solution ">
                            <p>
                                <span ng-hide="{{$first}}">+</span>{{component.volume}}{{component.unit}} {{component.name}}
                                <span ng-hide="{{component.concentration == ''}}">
                                    [{{component.concentration }} {{component.concentrationUnit}}]
                                </span>
                            </p>
                            <dl class="consideration" ng-hide="{{component.consideration == ''}}">
                                <dt>Attention</dt>
                                <dd>{{component.consideration}}</dd>
                            </dl>
                        </li>
                    </ul>
                </section>
            </section>
        </section>

        <section class="action">
            <section class="inner">
                <a ui-sref="app.step({protocol:currentProtocol , group:currentGroup, id:prevId})" class="btn btn-default pull-left" >back</a>
                <a ui-sref="app.step({protocol:currentProtocol , group:currentGroup, id:nextId})" class="btn btn-default pull-right" >next</a>
            </section>
        </section>
    </article>
</section>
